#pane-target {
	background-color: $black;
	height: 75vh;
	max-height: 120vw;
	width: 100%;
	overflow: auto;
	a {
		color: $white;
	}
}
#hero-panes {
	width: 380vw;
	@include reset-list;
}

$panel-link-width: 40px;

.pane {
	background-color: #000;
	display: block;
	float:left;
	height: 75vh;
	max-height: 120vw;
	margin:0;
	position: relative;
	text-align: center;
	width: 95vw;

	.previous-pane,.next-pane {
		position: absolute;
		top:0;
		line-height: 1;
		padding-bottom:.75rem;
		height: 100%;
		width: $panel-link-width;
		z-index: 900;
  
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.previous-pane {
		left: 0;
	}
	.next-pane {
		right:0;
	}
}
.pane-img {
	background-size:cover;
	background-image: url('../img/home-header-slide1.jpg');
	opacity: 0.75;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index:80;

	.first & {
		background-image: url('../img/home-header-1-700.jpg');
		background-position-y: 0;
		background-position-x: 0;
		opacity: 1;
	}
}
.pane-content {
	// background-color: rgba(0,0,0,.25);
	// margin: auto;
	padding: 0 $panel-link-width;
	// overflow: auto;
	position: absolute;
	left: 0;
	right: 0;
	// top: 0;
	// bottom: 0;
	// height: 50%;


	top: 50%;
  	transform: translateY(-50%);

	z-index:90;
}
.pane-logo {
	margin-bottom: 1rem;
	@include breakpoint(small only) {
		img {
			width: 40vw;
		}
	}
}