$answer-bg: $beacon-orange;
$answer-bg-choose: $beacon-green;
#primary {
	.wpvq {
	    font-family: $body-font-family;
	    max-width: 1200px;
	    text-align: left;
	}
	.wpvq-question .wpvq-question-label {
		text-align: left;
	}
	.wpvq-answer {
		background: #eee;
		border: 3px solid #eee;
		&:hover {
		    background: rgba($answer-bg, 0.5);
		    border: 3px solid rgba($answer-bg, 0.5);
		}
	}
	.Personality .wpvq-answer.wpvq-choose {
	    background: rgba($answer-bg-choose, 0.5);
	    border: 3px solid rgba($answer-bg-choose, 0.5);
	}
	#wpvq-form-informations p.wpvq-submit-button-ask button {
	  	@include box-shadow-hover;
		font-weight: bold;
		line-height: 1.25;
	  	background-color: $beacon-orange;
	  	@include hover {
	  		background-color: scale-color($beacon-orange, $lightness: -15%);
	  	}
	}
	div#wpvq-final-personality .wpvq-you-are {
		@extend h2;
	}
	div#wpvq-final-score, div#wpvq-final-personality, div#wpvq-ask-before-results, div#wpvq-forceToShare-before-results {
		background: #eee;
	}
}

.link-quiz {
	background-image: url(../img/quiz-link-bg-small.jpg);
	background-size: cover;
	background-position-y: 50%; //vertical axis
	background-position-x: 50%; //horizontal axis
	text-align: center;

	.button strong {
		text-transform: uppercase;
		display: block;
	}
	@include breakpoint(medium) {
		background-image: url(../img/quiz-link-bg-medium.jpg);
	}
	@include breakpoint(large) {
		background-image: url(../img/quiz-link-bg-large.jpg);
	}
	@include breakpoint(xlarge) {
		background-image: url(../img/quiz-link-bg-xlarge.jpg);
	}
	@include breakpoint(xxlarge) {
		background-image: url(../img/quiz-link-bg-xxlarge.jpg);
	}
}