.button {
	@include box-shadow-hover;
	font-weight: bold;
  line-height: 1.25;

  .home .profile:first-of-type & {
    background-color: $beacon-green;
    @include hover {
      background-color: scale-color($beacon-green, $lightness: -15%);
    }
  }
  #secondary &,
  .orbit-slide:not(.first) & {
    background-color: $beacon-green;
    @include hover {
      background-color: scale-color($beacon-green, $lightness: -15%);
    }
  }
}

input[type="submit"],
input[type="button"] {
  @include button;
  font-weight: bold;
  @include box-shadow-hover;

  #appointment-form & {
  	background-color: $beacon-orange;
  	@include hover {
  		background-color: scale-color($beacon-orange, $lightness: -15%);
  	}
  }

  #secondary & {
    background-color: $beacon-green;
    @include hover {
      background-color: scale-color($beacon-green, $lightness: -15%);
    }
  }
}
