.off-canvas,
.top-bar {
	a,
	.close-button {
		color: $white;
		font-weight: bold;
		text-transform: uppercase;

		@include hover {
			color: $beacon-orange;
		}
	}
}

#secondary,
#contact-sidebar {
	a {
		color: $white;

		@include hover {
			color: scale-color($beacon-orange, $lightness: 60%);
		}
	}
}