// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-regular-webfont", normal, normal);
@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-italic-webfont", normal, italic);
@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-bold-webfont", bold, normal);
@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-bolditalic-webfont", bold, italic);

p {
	margin: 0;
}

h1, h2, h3 {
	text-transform: uppercase;
	color: $beacon-orange;
	#contact-sidebar & {
		color: $white;
		font-size: 19px;
		@include breakpoint(medium) {
			font-size: 22px;
		}
		@include breakpoint(large) {
			font-size: 23px;
		}
	}
}

h1 {
	// font-size: 2rem;
	font-weight: 700;
}

h2 {
	// font-size: 1.25rem;
	font-weight: 700;
}

h3 {
	.home & {
		font-size: 23px;
	}
}

.entry-title,
.section-title {
	color: $beacon-orange;
	.home & {
		text-align: center;
	}
	#appointment-form & {
		color: $white;
	}
}


.page-template-coaching {
	.entry-title {
		margin-top:1rem;
		@include breakpoint(medium only) {
			font-size: 31px;
		}
	}
	.coaching-benefits {
		list-style: none;
		li {
			position: relative;
			&:before {
				color: $beacon-orange;
				content: "\f00c";
				font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;

			    position: absolute;
			    left: -1.25rem;
			    top: .35rem;
			}
		}

	}
}

#contact-sidebar {
	color: $white;
	@include breakpoint(medium) {
		text-align: right;
	}

}

.top-bar,
.off-canvas {
	font-size: $small-font-size;
}
