// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-regular-webfont", normal, normal);
@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-italic-webfont", normal, italic);
@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-bold-webfont", bold, normal);
@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-bolditalic-webfont", bold, italic);

p {
	margin: 0;
	.profile-bio & {
		margin-bottom: $paragraph-margin-bottom;
		&:first-of-type {
			font-size: 1.25rem;
		}
	}
}

h1, h2, h3 {
	text-transform: uppercase;
	color: $beacon-orange;
	#contact-sidebar & {
		color: $white;
		font-size: 19px;
		margin-bottom: 1.25rem;
		@include breakpoint(medium) {
			font-size: 22px;
		}
		@include breakpoint(large) {
			font-size: 23px;
		}
	}

}

h1 {
	// font-size: 2rem;
	font-weight: 700;
}

h2 {
	// font-size: 1.25rem;
	font-weight: 700;
}

h3 {
	.home & {
		font-size: 23px;
	}
}

#pane-target {
	color: $white;
	text-align: left;
}
.next-pane,
.previous-pane {
	@include text-shadow();
}
.pane-title {
	color: $white;
	font-weight: normal;
	// margin-top: 1rem;
	margin-bottom: 2rem;
	text-transform: none;
	@include text-shadow();

	@include breakpoint(small only) {
		font-size: 1rem;
	}
	@include breakpoint(medium) {
		margin-bottom: 4rem;
	}
}

.home-hero-title {
	color: $white;
	font-weight: normal;
	text-transform: none;
	@include breakpoint(small only) {
		font-size: 20px;
	}
	@include breakpoint(medium) {
		@include text-shadow();
	}
}

.entry-title,
.section-title {
	color: $beacon-orange;
	.home & {
		text-align: center;
	}
	#appointment-form & {
		color: $white;
	}
	.profile & {
		color: $white;
		margin-bottom: $paragraph-margin-bottom;
		@include breakpoint(medium) {
			margin-bottom: 2rem;
		}
	}
}


.page-template-coaching {
	.entry-title {
		margin-top:1rem;
		@include breakpoint(medium only) {
			font-size: 31px;
		}
	}
	#coaching-benefits {
		list-style: none;
		margin-left: 1.5rem;
		li {
			margin-bottom: .75rem;
			line-height: 1.25;
			position: relative;

			&:before {
				color: $beacon-orange;
				content: "\f00c";
				font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;

			    position: absolute;
			    left: -1.5rem;
			    top: .2rem;
			}
			// &:last-child {
			// 	font-size: 1.5rem;
			// 	&:before {
			// 		left: -1.5rem;
			// 		top: .4rem;
			// 	}
			// }
		}
	}
}

.comments-title,
.comment-reply-title {
	font-size: 20px;
	@include breakpoint(medium) {
		font-size: 26px;
	}
	@include breakpoint(large) {
		font-size: 28px;
	}
}

.comments-title {
	font-weight: normal;
	span {
		font-weight: bold;
	}
}

.comment-metadata {
	font-size: $small-font-size;
}

#secondary {
	background-color: $beacon-orange;
	// font-size: $small-font-size;
	color: scale-color($beacon-orange, $lightness: 70%);
}	
#contact-sidebar {
	color: scale-color($beacon-orange, $lightness: 70%);
}
.widget-title,
#secondary .page-title {
	color: $white;
}

.top-bar,
.off-canvas {
	font-size: $small-font-size;
}
