// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-regular-webfont", normal, normal);
@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-italic-webfont", normal, italic);
@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-bold-webfont", bold, normal);
@include font-face("Tex Gyre Adventor", "../fonts/texgyreadventor-bolditalic-webfont", bold, italic);

p {
	margin: 0;
}

h1, h2, h3 {
	text-transform: uppercase;
	color: $beacon-orange;
}

h1 {
	// font-size: 2rem;
	font-weight: 700;
}

h2 {
	// font-size: 1.25rem;
	font-weight: 700;
}

h3 {
	.home & {
		font-size: 23px;
	}
}

.entry-title,
.section-title {
	color: $beacon-orange;
	.home & {
		text-align: center;
	}
}

.top-bar,
.off-canvas {
	font-size: $small-font-size;
}
