#featured-hero {
	height: 60vh;
	max-height: 100vw;
	background-size: cover;
	background-position: center;
	position: relative;


	@include breakpoint(small only) {
		max-height: 47vw;
		padding-top: 47vw;
		background-color: $beacon-green;
	}

	.page-template-coaching & {
		background-image: url('../img/bg-coaching-700.jpg');
		@include breakpoint(medium) {
			background-image: url('../img/bg-coaching-1024.jpg');
			overflow: hidden;
		}
		@include breakpoint(large) {
			background-image: url('../img/bg-coaching-1920.jpg');
		}
	}


}

.hero-container {
	.page-template-coaching & {
		@include breakpoint(medium) {
			padding-top: 1rem;
		}
	}
}