#coaching-steps {
}

#appointment-form {
	// background: $beacon-green;
	background-image: url('../img/form-bg-700.jpg');
	background-size: cover;
	background-position-y: 0; //height
	background-position-x: right; //width
	color: $white;

	@include breakpoint(medium) {
		background-image: url('../img/form-bg-1024.jpg');
		background-position-x: center;
	}
	@include breakpoint(large) {
		background-image: url('../img/form-bg-1200.jpg');
	}
	@include breakpoint(xlarge) {
		background-image: url('../img/form-bg-1440.jpg');
	}
	@include breakpoint(xxlarge) {
		background-image: url('../img/form-bg-1920.jpg');
	}
}

#contact-form, #contact-sidebar {
	@include section-spacing;
}