.post {
	padding-bottom: 2rem;
	.post-thumbnail {
		display: block;
		margin-bottom: 1rem;
	}
	@include breakpoint(medium) {
		padding-bottom: 3rem;
	}
}

.entry-meta,
.entry-footer {
	font-size: $small-font-size;
}

.tags-links,
.comments-link {
	// display: inline-block;
}

.cat-links + .tags-links,
.tags-links + .comments-link {
   	margin-left: .5rem;
   	&:before {
   		content: '|';
    	margin-right: .5rem;
   	}
}

.sharedaddy {
	min-height: 69px;
}

.navigation {
	// margin-bottom: 1rem;
}