.post {
	padding-bottom: 2rem;
	.post-thumbnail {
		display: block;
		margin-bottom: 1rem;
	}
	@include breakpoint(medium) {
		padding-bottom: 3rem;
	}
}

.entry-meta,
.entry-footer {
	font-size: $small-font-size;
}

.tags-links,
.comments-link {
	// display: inline-block;
}

.cat-links + .tags-links,
.cat-links + .comments-link,
.tags-links + .comments-link,
.edit-link {
   	// margin-left: .5rem;
   	// &:before {
   	// 	content: '|';
    // 	margin-right: .5rem;
   	// }
}

.sharedaddy {
	min-height: 69px;
}


.heateor_sss_horizontal_sharing {
    margin: 0 0 1rem 0;
    min-height: 69px;
    display: inline-block;
    line-height: 1.2;
    font-size: $small-font-size;
    font-weight: bold;

    text-transform: uppercase;
	color: #048689;
	@extend h3;
}
.heateor_sss_sharing_ul {
	padding-top: .5em;
}

.navigation {
	// margin-bottom: 1rem;
}

.relpost-block-single {
	// width: 150px;
}

