#secondary h1 {
	font-size: 1.5rem;
	font-weight: 700;
}

#contact-sidebar {
	background-image: url('../img/sidebar-bg-small.jpg');
	background-size: cover;
	background-position-y: top;
	background-position-x: center;
	color: $white;
	@include breakpoint(medium) {
		background-image: url('../img/sidebar-bg.jpg');
	}
}