#secondary {
	background-color: $beacon-orange;
	font-size: $small-font-size;
	color: $white;
	
	h2 {
		font-size: 19px;
		@include breakpoint(medium) {
			font-size: 22px;
		}
		@include breakpoint(large) {
			font-size: 23px;
		}
	}
	ul {
		@include reset-list;
		li {
			margin-bottom: .5rem;
		}
	}
}

#contact-sidebar {
	background-image: url('../img/sidebar-bg-small.jpg');
	background-size: cover;
	background-position-y: top;
	background-position-x: center;
	color: $white;
	@include breakpoint(medium) {
		background-image: url('../img/sidebar-bg.jpg');
	}
}