#secondary {
	background-color: #F8A837;
	@include section-spacing;
	
	h2 {
		font-size: 19px;
		@include breakpoint(medium) {
			font-size: 22px;
		}
		@include breakpoint(large) {
			font-size: 23px;
		}
	}
	ul {
		@include reset-list;
		li {
			margin-bottom: .5rem;
		}
	}

	.rpwwt-widget {
		font-size: $small-font-size;
		ul li {
			margin-bottom: 1rem;

			img {
				margin: .3em .75em 0em 0;
			}
		}
		.rpwwt-post-title {
			text-transform: uppercase;
			font-weight: bold;
			line-height: 1.5;
			display: block;
		}
	}

	@include breakpoint(medium) {
		background-image: url('../img/secondary-bg.jpg');
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position-y: bottom;
		background-position-x: 0;
	}
}

.widget {
	margin-bottom: 1rem;
	@include breakpoint(medium) {
		margin-bottom: 3rem;
	}
}



#contact-sidebar {
	background-image: url('../img/sidebar-bg-small.jpg');
	background-size: cover;
	background-position-y: top;
	background-position-x: center;
	color: $white;
	ul {
		list-style: none;
		margin-left: 0;
	}
	@include breakpoint(medium) {
		background-image: url('../img/sidebar-bg.jpg');
		text-align: right;
	}
}