#content {
	margin: 0;
	// padding: 2rem 0;
}
body:not(.home):not(.page-template-coaching) {
	#primary,
	#secondary {
		padding-bottom: 1rem;
		padding-top: 1rem;
		@include breakpoint(medium) {
			padding-bottom: 2rem;
			padding-top: 2rem;
		}
	}	
}


.entry-meta {
	margin-bottom: 1.25rem;
}

.updated {
	display: none;
}

.vcard {
	display: inherit;
	padding: 0;
	border: none;
	margin: 0;
}

.vcard .fn {
	font-weight: normal;
	font-size: 1rem;
}

.entry-content p {
	margin-bottom: 1.25rem;
}